.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  width: 95%;
  margin: 0 auto;
}

.link {
  color: white;
  text-decoration: none;
}

.link.active {
  color: #e84a5f;
}